@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  min-height: 100vh;
  min-height: 100svh;
  overflow-y: scroll;

  font-family: var(--font-family-lato), "Helvetica Neue", "Helvetica",
    "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic Medium", Meiryo,
    sans-serif;
  color: #233;

  @apply tw-text-base;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  @apply tw-bg-keyColor-50;
}

a {
  &:any-link {
    @apply tw-text-keyColor-600 tw-underline;
  }

  &:visited {
    @apply tw-text-purple-800;
  }

  &,
  &:visited {
    &:active,
    &:hover {
      transition:
        color 0.2s,
        text-decoration 0.2s;
      @apply tw-text-keyColor-600;
    }
  }
}
