name: Node CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  NODE_VERSION: 18

concurrency:
  group: vrt-${{ github.ref }}
  cancel-in-progress: true

jobs:
  vrt:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.2-jammy
    steps:
      - id: env-key
        run: echo "value=${{ runner.os }}-${{ env.NODE_VERSION }}" >> $GITHUB_OUTPUT
      - id: lock-hash
        run: echo "value=${{ hashFiles('package.json', '**/pnpm-lock.yaml') }}" >> $GITHUB_OUTPUT
      - id: source-hash
        run: echo "value=${{ hashFiles('*.[cm]js','*.js','src/**/*.[jt]s','src/**/*.[jt]sx') }}" >> $GITHUB_OUTPUT
      - id: nextjs-cache-dir-path
        run: echo "value=${{ github.workspace }}/.next/cache" >> $GITHUB_OUTPUT
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
      - run: pnpm install
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        id: nextjs_cache_id
        env:
          cache-name: cache-nextjs
        with:
          path: |
            ${{ steps.nextjs-cache-dir-path.outputs.value }}
          key: ${{ steps.env-key.outputs.value }}-${{ env.cache-name }}-${{ steps.lock-hash.outputs.value }}-${{ steps.source-hash.outputs.value }}
          restore-keys: |
            ${{ steps.env-key.outputs.value }}-${{ env.cache-name }}-${{ steps.lock-hash.outputs.value }}-
            ${{ steps.env-key.outputs.value }}-${{ env.cache-name }}-
      - run: pnpm build
        env:
          NODE_ENV: test
      - run: pnpm test:vrt:ci
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        if: failure()
        with:
          name: test-results
          path: test-results/

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: "lts/*"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm lint
      - run: pnpm format:check
